body{
    margin:0;
    padding:0;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #2196f3;
    min-height: 100vh;
}

.loader{
    position: relative;
    display: flex;
}

.loader span{
    width:30px;
    height:300px;
    background: #2196f3;
    margin: 0 20px;
    animation :animate 1.4s linear infinite;
}


.loader span:nth-child(1){
    animation-delay: 0s;
}

.loader span:nth-child(2){
    animation-delay: 0.2s;
}

.loader span:nth-child(3){
    animation-delay: 0.4s;
}

.loader span:nth-child(4){
    animation-delay: 0.6s;
}

.loader span:nth-child(5){
    animation-delay: 0.8s;
}

.loader span:nth-child(6){
    animation-delay: 1s;
}

.loader span:nth-child(7){
    animation-delay: 1.2s;
}


@keyframes animate {
    0%{
         box-shadow: 0 0 0 rgba(0,0,0,0.5);
         opacity: 0;
         transform: translateX(-50px) scale(1);
    }
    50%{
        box-shadow: 0 20px 50px rgba(0,0,0,0.5);
        opacity:1;
        transform: translateX(0) scale(1.2);
    }
    100%{
        box-shadow: 0 0 0 rgba(0,0,0,0.5);
        opacity: 0;
        transform: translateX(-50px) scale(1);
    }
}